{% extends 'base.html' %}

{% block content %}
{% for x in todo %}
<form class="container row g-3">
  <div class="col-6">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{x.text}}">
  </div>
  <div class="col-6">
    <a class="btn btn-primary" href="updateTodo/{{x.id}}" title="Edit"><img src="https://img.icons8.com/?size=16&id=86374&format=png" class="rounded mx-auto d-block" alt="edit" /></a>
    <a class="btn btn-primary" href="removeTodo/{{x.id}}" title="Delete"><img src="https://img.icons8.com/?size=16&id=UXGrKssCNlJd&format=png" class="rounded mx-auto d-block" alt="delete" /></a>
    <!-- <button type="submit" class="btn btn-primary mb-3">Delete</button> -->
  </div>
</form>
{% endfor %}

<form class="container" method="post" action="{%url 'saveTodo'%}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="todo_text" class="form-label">Text</label>
      <input name="todo" class="form-control" id="exampleInputText1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}