{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Update Todo</h2>
        <form class="container" method="post" action="/updateTodo/{{todo.id}}">
            {% csrf_token %}
            <div class="mb-3">
                <input name="todo" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" value="{{todo.text}}" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock content %}